<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-offset-2">
      <h1 class="text-center login-title">Sign in to continue to Orongo</h1>
      <div class="account-wall">
        <img class="profile-img" src="../images/photo.jpg" alt="">
        <form class="form-signin">
          <input type="text" class="form-control" ng-model="credentials.user" placeholder="Username" autofocus>
          <input type="password" class="form-control" ng-model="credentials.password" placeholder="Password" >
          <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">
            Sign in
          </button>
          <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
        </form>
      </div>
      <a href="#" class="text-center new-account">Create an account </a>
    </div>
  </div>
</div>
